/********************************
#HERO
*********************************/
#hero {
  background: url(/img/herobw2.png) no-repeat center/cover;
  min-height: 85vh;
}

  #hero h1,
  #hero h3 {
    background: rgba(238, 238, 238, 0.4);
  }

  #hero .hero__container {
    padding-top:  8rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    max-width: 45rem;

  }

@media (min-width: 544px) {
  #hero {
    display: flex;
  }

  #hero .hero__container {
    padding-top:  2rem;
    padding-bottom: 1rem;
  }
}


@media (min-width: 768px) {
  #hero {
    min-height: 40vh;
  }

  #hero .hero__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 60vh;
  }

  #hero h3 {
    font-size: 3.3rem;
  }
}

@media (min-width: 1300px) {
  #hero .hero__container h1, #hero .hero__container h3 {
    
  }
}



/********************************
#SERVICES
*********************************/
#services {
  background: var(--primary-color);
  padding-bottom: 3rem;
}

#services--inv {
  background: var(--secondary-color);
  color: var(--dark-color);
}

  #services .services__container {
    color: var(--light-color);
  }

  #services .services__container .services__content .service-1, .service-2 {
    background: var(--secondary-color);
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }

    #services .services__container h2 {
      text-decoration: underline var(--golden-color);
    }

    #services .services__container h3 {
      margin-top: 1.5rem;
      margin-bottom: 0.55rem;
    }
  
    #services .services__container .services__content  .scissors {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.125rem;
      color: var(--golden-color);
    }

    #services .services__container .services__content  .scissors .bar{
      width: 50%;
      height: 3px;
      background-color: var(--golden-color);
    }


    #services .services__container .services__content  img{
      margin-top: 0.8rem; 
      align-content: center;
    }  

    #services .services__container .services__content p {
      max-width: 70rem;
      margin-top: 1rem;
    }

    @media (min-width: 768px) {
      #services .services__container {
        padding-top: 5rem;
        min-height: 40rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      #services .services__container .services__content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        margin-bottom: 2rem;
        text-align: center;
      }

    
      #services .services__container .services__content  img{
        margin-top: 0.8rem; 
        max-width: 320px;
        max-height: 500px;
      }

      #services .services__container .services__content  .scissors .bar{
        max-width: 3rem;
        height: 3px;
        background-color: var(--golden-color);
      }

      #services .services__container .services__content p {
        font-size: 1.2rem;
        margin-top: 1rem;
      }
    }    

    @media (min-width: 940px) {
      #services .services__container .services__content div img{
        max-height: 500px;
      }
    }

    @media (min-width: 1024px) {
      #services .services__container .services__content  img {
        min-width: 400px;
        min-height: 300px;
      }
    }


    @media (min-width: 1300px) {
      #services .services__container .services__content .service-1, .service-2 {
        min-width: 470px;
        min-height: 550px;
        padding-left: 2.2rem;
      }
      #services .services__container .services__content div img{
        max-height: 700px;
    }
    }


/********************************
#ABOUT
*********************************/
#about-us {
  background: var(--light-color);
}

  #about-us .about-us__container p{
    line-height: 1.4rem;
    margin-bottom: 1rem;
  }


 @media (min-width: 768px) {
  #about-us {
    min-height: 37.5rem;
  } 

  #about-us .about-us__container {
    padding-top: 3rem;
  }
   .about-us__content{
     display: flex;
     gap: 1rem ;
     margin-top: 2.3rem;
   }

   .about-us__content p {
     max-width: 60rem;
     font-size: 1.25rem;
     margin-top: 1rem;
     margin-bottom: 2rem;
   }   
 }


/********************************
#EMPLOYEES
*********************************/
#employees {
  background: var(--primary-color);
  color: var(--light-color);
}

  #employees .employees__container #all-employees img {
    min-width: 290px;
  }

@media (min-width: 768px){
  #employees .employees__container #all-employees .employee-1{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0 2rem 0;
  }
  
  #employees p {
    max-width: 25rem;
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1200px){
  #employees .employees__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/********************************
#PORTFOLIO
*********************************/
#portfolio {
  background: var(--secondary-color);
}

#portfolio--inv {
  background: var(--primary-color);
  color: var(--light-color);
}


  #portfolio .portfolio__container .portfolio__grid img{
    display: block;
    margin-bottom: 1rem;
    max-width: 290px;
    max-height: 400px;
  }

  #portfolio .portfolio__container--inv {
    background: var(--primary-color);
    color: var(--light-color);
  }

  @media (min-width: 400px) {
    #portfolio .portfolio__container .portfolio__grid img{
      display: block;
      margin-bottom: 1rem;
      max-width: 370px;
      max-height: 400px;
    }
  }

  @media (min-width: 768px) {
    #portfolio .portfolio__container {
      display: flex;
      flex-direction: column;
      align-items:  center;
    }
    
    #portfolio .portfolio__container .portfolio__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    #portfolio .portfolio__container h3 {
      text-align: center;
      font-style: italic;
      max-width: 30rem;
    }
  }

/********************************
#CONTACT
*********************************/
#contact {
  background: var(--light-color);
}

    #contact .form-group input {
      margin-top: 1rem;
      width: 290px;
      padding: 1rem;
    }

    #contact .form-group textarea {
      margin-top: 1rem;
      width: 290px;
      padding: 1rem;
      font-size: 1rem;
    }
    
  #contact .contact__ubication {
    margin: 2rem 0rem 1rem 0rem;
  }  

  #contact .contact__wpp {
    margin-bottom: 1rem;
  }  

  #contact .contact__schedule  {
    margin: 2rem 0rem 1rem 0rem;
  }  

.btn__navbar {
  background-color: var(--brown-color);
}

@media (min-width: 768px){
  #contact .contact__container {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

      #contact form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      #contact form .form-group__no-button {
        display: flex;
        flex-direction: column;
      }

      #contact form .form-group__no-button .form-group__no-message {
        display:  flex;
        gap:  1rem;
      }

      #contact form textarea{
        min-width: 37.1rem;
      }

  #contact .contact__container #contact__data {
    display: flex;
    gap:  1rem;
    justify-content: space-evenly;
    margin-top: 2rem;
    padding-bottom: 2rem;
  }

  #contact .contact__container #contact__data .contact__ubication,
  #contact .contact__container #contact__data .contact__wpp,
  #contact .contact__container #contact__data .contact__schedule  {
    margin: 1rem 0 0 0; 
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.125rem;
  }

  #contact .contact__container #contact__data .contact__wpp {
    margin-left: 5rem;
  }

  #contact .contact__container #contact__data .contact__schedule {
    margin-left: 2rem;
  }


  #contact p {
    margin-top: 1rem;
  }

  #contact i {
    font-size: 2rem;
  }
} 